[Unit]
Description=ERPNext Configurator
After=erpnext-mariadb.service erpnext-redis-cache.service erpnext-redis-queue.service

[Container]
Image=ghcr.io/thatseanwalsh/erpnext-custom:v16
ContainerName=erpnext-configurator
Pod=erpnext.pod

Entrypoint=bash
Exec=-c ls -1 apps > sites/apps.txt; bench set-config -g db_host 127.0.0.1; bench set-config -gp db_port 3306; bench set-config -g redis_cache "redis://127.0.0.1:6379"; bench set-config -g redis_queue "redis://127.0.0.1:6380"; bench set-config -g redis_socketio "redis://127.0.0.1:6380"; bench set-config -gp socketio_port 9000;

Volume=erpnext-sites.volume:/home/frappe/frappe-bench/sites:z

EnvironmentFile=/run/user/1000/secrets/erpnext.env

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target