[Unit]
Description=ERPNext Websocket
After=erpnext-backend.service

[Container]
Image=ghcr.io/thatseanwalsh/erpnext-custom:v16
ContainerName=erpnext-websocket
Pod=erpnext.pod
Exec=node /home/frappe/frappe-bench/apps/frappe/socketio.js

Volume=erpnext-sites.volume:/home/frappe/frappe-bench/sites:z

EnvironmentFile=/run/user/1000/secrets/erpnext.env

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target