[Unit]
Description=ERPNext Queue Long
After=erpnext-configurator.service

[Container]
Image=docker.io/frappe/erpnext:v16
ContainerName=erpnext-queue-long
Pod=erpnext.pod
Exec=bench worker --queue long,default,short

Volume=erpnext-sites.volume:/home/frappe/frappe-bench/sites:Z

EnvironmentFile=/run/user/1000/secrets/erpnext.env

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target