[Unit]
Description=ERPNext Backend
After=erpnext-configurator.service

[Container]
Image=ghcr.io/thatseanwalsh/erpnext-custom:v16
ContainerName=erpnext-backend
Pod=erpnext.pod

Volume=erpnext-sites.volume:/home/frappe/frappe-bench/sites:z

EnvironmentFile=/run/user/1000/secrets/erpnext.env

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target