[Unit]
Description=Netbird Dashboard
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/netbirdio/dashboard:latest
Network=caddy-net.network
EnvironmentFile=/run/user/1000/secrets/netbird-dashboard.env

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
