# /etc/containers/systemd/netbird-dashboard.container
# Quadlet unit for the Netbird dashboard UI

[Unit]
Description=Netbird Dashboard
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/netbirdio/dashboard:latest
Network=caddy-net.network
NoNewPrivileges=true
DropCapability=ALL

Volume=netbird-dashboard-nginx.volume:/var/lib/nginx:Z
Volume=netbird-dashboard-tmp.volume:/tmp:Z

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
