[Unit]
Description=ZITADEL Login UI

[Container]
Image=ghcr.io/zitadel/zitadel-login:latest
Network=systemd-caddy-net

Environment=ZITADEL_API_URL=https://id.zehru.com

[Service]
Restart=always

[Install]
WantedBy=default.target