[Unit]
Description=CockroachDB for Zitadel
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/cockroachdb/cockroach:latest
Network=caddy-net.network
Volume=zitadel-db.volume:/cockroach/cockroach-data:Z
Exec=start-single-node --insecure --listen-addr=0.0.0.0:26257 --http-addr=0.0.0.0:8081
NoNewPrivileges=true
DropCapability=ALL

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=120

[Install]
WantedBy=default.target